<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title_id %>
    <%= f.collection_select :title_id, Title.all , :id, :name, {prompt: 'Seleccione Titulo'}%>
  </div>

  <div class="field">
    <%= f.label :names %>
    <%= f.text_field :names %>
  </div>

  <div class="field">
    <%= f.label :last_names %>
    <%= f.text_field :last_names %>
  </div>

  <div class="field">
    <%= f.label :group_id %>
    <%= f.collection_select :group_id, Group.all , :id, :name, {prompt: 'Seleccione Grupo'}%>
  </div>

  

  <div class="field">
    <%= f.label :firm_id %>
    <%= f.collection_select :firm_id, Firm.all , :id, :name, {prompt: 'Seleccione Empresa'}%>
  </div>

  <div class="field">
    <%= f.label :position_id %>
    <%= f.collection_select :position_id, Position.all , :id, :name, {prompt: 'Seleccione Cargo'}%>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
