<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Names</th>
      <th>Last names</th>
      <th>Group</th>
      <th>Title</th>
      <th>Firm</th>
      <th>Position</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.names %></td>
        <td><%= person.last_names %></td>
        <td><%= person.group %></td>
        <td><%= person.title %></td>
        <td><%= person.firm %></td>
        <td><%= person.position %></td>
        <td><%= person.email %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
