<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @person.names %>
</p>

<p>
  <strong>Last names:</strong>
  <%= @person.last_names %>
</p>

<p>
  <strong>Group:</strong>
  <%= @person.group %>
</p>

<p>
  <strong>Title:</strong>
  <%= @person.title %>
</p>

<p>
  <strong>Firm:</strong>
  <%= @person.firm %>
</p>

<p>
  <strong>Position:</strong>
  <%= @person.position %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
