<h1>Welcome to example.com, <%= @user.names %></h1>
  <p>
    You have successfully signed up to example.com,
    your username is: <%= @user.names %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
<a href="localhost/show?token=<%= @token %>" > Ver invitacion</a>


