<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>


<%= button_to 'Generar Invitaciones', {:controller => "invitations", :action => "generate", :event_id => @event.id} , :method=>:post  %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>



<br>

<table>
	<thead>
		<tr>
			<th>Perona</th>
			<th>Email</th>
			<th>Estado</th>
		</tr>	
	</thead>
	<tbody>
		<% @event.invitations.each do |invitation| %>
			<tr>
				<td><%= invitation.person.names %> <%= invitation.person.last_names %></td>
				<td><%= invitation.person.email %></td>
				<td><%= invitation.state.name %></td>
			</tr>
		<% end %>
	</tbody>
	
</table>
