<% if @event.present? %>
	Nombre de evento
<b><%= @event.name %></b> <br>

<%= button_to 'Confirmar', {:controller => "shows", :action => "confirm", :token => @token} , :method=>:post, :remote => true, :form => { "data-type" => "json" }  %>

<%= button_to 'Rechazar', {:controller => "shows", :action => "reject", :token => @token} , :method=>:post, :remote => true, :form => { "data-type" => "json" }  %>

<% else %>
	No estas invitado
<% end %>











