<!DOCTYPE html>
<html>
  <head>
    <title>Trimando</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "Personas", people_path %> | 
  	<%= link_to "Eventos", events_path %>  |
  	
  	<br>
    <%= yield %>
  </body>
</html>
